.promos {
  --size: calc(25vmin - (var(--padding-x) / 2) - 1rem);
  --duration: 300ms;
  --ease-out: cubic-bezier(0.25, 1, 0.5, 1);
  --bounce-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Inter Tight", sans-serif;
  color: white;
  margin-top: auto;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .promos {
    --size: 15vmin;
    display: inline-flex;
    flex-direction: column;
    .promo {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
.promo {
  position: relative;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  border-radius: 2rem;
}
.title,
.subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: calc(0.75rem + 1vw);
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  transform: translate(-10%, -50%);
  pointer-events: none;
  text-shadow: 0 0 5px black;
}
.image-wrapper {
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  border-radius: 1.5rem;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  transition-property: transform, clip-path, border-radius;
  transition-duration: var(--duration);
  transition-timing-function: var(--ease-out);
}
.image-wrapper img {
  position: relative;
  width: 120%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-10%);
  transition: transform var(--duration) var(--ease-out);
}
.image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  mix-blend-mode: multiply;
  opacity: 0.75;
  border-radius: 1.5rem;
  transform: translateZ(0);
  transition: opacity var(--duration) var(--ease-out);
}
@media (min-width: 768px) {
  .promo:hover img {
    transform: translateX(0);
  }
  .promo:hover .image-wrapper {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    transform: translateX(25%);
    transition-timing-function: var(--bounce-out);
    border-radius: 0;
  }
  .promo:hover .image-wrapper::after {
    border-radius: 0;
  }
}
.promo .title,
.promo .subtitle {
  transition-property: transform, opacity;
  transition-duration: 0.25s;
}
.promo .title {
  opacity: 1;
}
.promo .subtitle {
  opacity: 0;
  transform: translate(-10%, 0);
}
.promo:hover .title {
  transform: translate(-10%, -100%);
  opacity: 0;
}
.promo:hover .subtitle {
  transform: translate(-10%, -50%);
  opacity: 1;
}

.promo-title {
  margin-top: auto;
  margin-bottom: 1rem;
  font-size: calc(2rem + 1.25vw);
  line-height: 1.2;
  transform: translateY(calc(100% + 2rem));
  transition: transform 0.25s ease, opacity 0.25s ease;
  opacity: 0;
}
@media (min-width: 768px) {
  .promo-title {
    order: 13;
  }
}
.promo-title.show {
  transform: translateY(0);
  opacity: 1;
}
