header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.page-navigation {
  display: inline-flex;
  align-items: center;
  img {
    height: auto;
    width: 2.75vmin;
    margin-right: 1vmin;
  }
}
