header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.page-navigation {
  display: flex;
  flex: 1;
  align-items: center;
  a:not(:last-child) {
    img {
      margin-right: 1rem;
    }
  }
  img {
    height: 2.5rem;
    width: auto;
  }
}
@media (min-width: 768px) {
  .page-navigation {
    display: inline-flex;
    flex: unset;
    a:not(:last-child) {
      img {
        margin-right: 1vmin;
      }
    }
    img {
      width: 2.75vmin;
      height: auto;
    }
  }
}
